body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: sans-serif; */
}

.header-img{
    /* background-image: url("../IMG/LDF-2022.png"); */
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url(../IMG/LDF-2022.png);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}

/* Navbar Section */
#navbar{
    color: #fff;
}

.container-fluid{
    padding: 0;
}

.navbar{
    padding: 0 5%;
    font-size: 18px;
}

.nav-item{
    padding: 0 3%;
}

.logo{
    width: 180px;
    height: 90px;
}

/* header section */
#header .promo-img{
    width: 320px;
    border-radius: 30%;
    border: #333333 solid;
    border-width: 5px;
}
#header .promo-img.p-img2{
    width: 380px;
    position: absolute;
    right: 20px;
    top: 230px;
    z-index: 4;
}
#header .promo-img.p-img1{
    position: relative;
    width: 350px;
    right: 20px;
    bottom: 80px;
}
#header .promo-img.p-img3{
    position: relative;
    left: 160px;
    /* top: 90px; */
}

#header .promo-img.p-img4{
    height: 225px;
    width: 350px;
    position: absolute;
    right: 320px;
    top: 340px;
    z-index: 3;
    border-radius: 80px;
}

.fab{
    padding-left: 25px;
}

.fab:hover{
    color: #fff;
    filter: none;
}

.row{
    padding: 100px 0;
}

#header p{
    font-size: 20px;
}

#header .promo-title{
    font-size: 85px;
}
#header .promo-subtitle{
    font-size: 55px;
    padding-bottom: 20px;
}

.fa-instagram{
    background: linear-gradient(30deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    padding: 0;
}
.fa-youtube{
    color: #FF0000;
}

.fa-tiktok{
    color: #fff;
    /* box-shadow: 11px 10px 0 0 #fe2d52; */
    filter: drop-shadow(-2px -3px 0 #fe2d52);
}

.f-icon{
    /* filter: drop-shadow(-2px -3px 0 #28ffff); */
}

.bottom-img{
    width: 100%;
}


/* About Us Section */
#About-us{
    /* background-image: linear-gradient(to right, #d8f9ff, #b1f2ff, #8aecff); */
}

.about-img{
    width: 50%;
    border-radius: 100%;
}

#About-us .title{
    font-size: 80px;
    margin-bottom: 50px;
}

#About-us .subtitle{
    font-size: 20px;
    /* line-height: 2; */
}

/* Departemen Section */
#departement{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url(../IMG/kegiatan-3.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#departement .container{
    /* padding: 100px 0 0 0; */
    color: #fff;
}

.dept-img{
    width: 150px;
}

.dept-title{
    padding-top: 50px;
    text-align: center;
}

/* MAY Section */
/* .circle{
    width: 100px;
    height: 100px;
    background-color: #8aecff;
    border-radius: 50%;
    position: absolute;
}

.circle1{
    left : 100px;
    top : 100px;
}

.circle2{
    right : 100px;
    bottom : 100px;
}

.circle3{
    left : 200px;
    top : 300px;
} */

#may{
    background: radial-gradient(#8aecff, #b1f2ff, #d8f9ff, #fff);
    background-position: center;
    background-size: cover;
    /* color: #fff; */
}

#may .container{
    padding: 100px 0;
    /* background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)); */
}

#may h1{
    margin-bottom: 50px;
}

#may .carousel-item{
    padding: 1% 3%;
}

/* Testimonial Section */
#testimonial{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("../IMG/LDF-2022-2.png");
    background-position: center;
    background-size: cover;
    color: #fff;
}

#testimonial .container{
    padding: 7% 15%;
    /* border-left: solid ; */
}

.tes-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.5;
}

/* Gallery Section */
#gallery .container-fluid{
    padding-bottom: 100px;
}





/* Footer Section */
#footer{
    padding: 7% 0;
    background: radial-gradient(#8aecff, #b1f2ff, #d8f9ff);
}

#footer h6{
    margin-bottom: 3%;
}

.footer-icon{
    margin-top: 2%;
}

.footer-note{
    text-align: center;
    background-image: linear-gradient(to right,#d8f9ff, #b1f2ff, #8aecff, #b1f2ff, #d8f9ff);
}

.footer-img{
    width: 100%;
    position: relative;
    bottom: 110px;
}

/* .footer-note:hover{
    background-image: linear-gradient(to right, #8aecff, #d8f9ff, #b1f2ff, #8aecff);
} */